<ion-header class="ion-no-border">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="logo-container">
        <img src="../../../../assets/img/logo.jpeg" alt="Logo" class="logo">
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <div class="notification-button-container">
        <ion-button size="small" class="notification-button" fill="solid"  shape="round" color="dark">
          <ion-icon color="primary" slot="icon-only" name="notifications"></ion-icon>
        </ion-button>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
